<% unless @error %>
<h1><%= @dashboard.name %>&nbsp;<small><%= @dashboard.description %></small></h1>

<div class="row">
    <table>
    <% row = 1 %>
    <% @dashboard.elements.in_groups_of(@graph_columns) do |elements| %>
        <tr>
        <% elements.each do |element| %>
            <td width="50%">
            <% if element %>
            <%= erb "elements/#{element.partial_name}".to_sym,
                    :locals => {:element => element, :row => row} %>
            <% end %>
            </td>
        <% end %>
        </tr>
    <% row += 1 %>
    <% end %>
    </table>
</div>
<script>
    $(function () {
      $("img[rel=popover-above]")
        .popover({
          placement: "above", delayIn: 1000
        })
        .click(function(e) {
          e.preventDefault()
        })
    })

    $(function () {
      $("img[rel=popover-below]")
        .popover({
          placement: "below", delayIn: 1000
        })
        .click(function(e) {
          e.preventDefault()
        })
    })
</script>
<% end %>
