<html>
<head>
    <meta name="gtv-autozoom" content="off" />
    <meta http-equiv="refresh" content="<%= params["refresh"] || 600 %>">
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="<%= @prefix %>/js/gdash.js"></script>
</head>
<% if @error %>
   <h2><%= @error %></h2>
<% else %>
<body class='fullscreen' bgcolor="black">
<table width="100%" height="100%">
    <% @dashboard.elements.in_groups_of(params["columns"]) do |elements| %>
        <tr>
        <% elements.each do |element| %>
            <td valign="middle" align="center">
            <% if element %>
                <%= erb "elements/#{element.partial_name}".to_sym,
                        :locals => {:element => element, :row => 1} %>
            <% end %>
            </td>
        <% end %>
        </tr>
    <% end %>
</table>
</body>
<% end %>
</html>
